*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html,body{
    height: 100%;
    background-color: #e2e2e2;
}

/*página de login*/

.box-error p{
    color: #fff;
}

.box-login{
    box-shadow: 8px 8px 8px ;
    max-width: 600px;
    width: 95%;
    height: 370px;
    padding: 40px 2%;
    background-color: rgba(3, 3, 3, 0.9);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 12px;
}


.box-login h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
}

.box-login input{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    padding-left: 8px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}

.box-login img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    margin: 17px -40px;
}

.box-login button{
    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translate(-50%);
    width: 80%;
    height: 35px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 16px;
    background-color: #0043bf;
    color: white;
    border-radius: 10px;
    border: 0;
}

.box-login button:hover{
    background-color: #0080bf;
    width: 84%;
    height: 39px;
    font-size: 17px;
}

.box-error{
    text-align: center;
    padding: 6px 2%;
    color: #fff;
    background-color: #E61212;
    margin-bottom: 22px;
    border-radius: 6px;
}

.box-error p{
    font-size: 17px;
}

.box-error i{
    padding: 0 3px;
}

/*painel de controle*/

.clear{
    clear: both;
}

.center{
    padding: 0 2%;
    margin: 0 auto;
}


aside{
    overflow-y: auto;
    float: left;
    width: 22%;
    height: 100%;
    background-color: #310a84;
}

header{
    float: right;
    width: 78%;
    padding: 10px 0;
    background-color: #6631d5;
}

.logout{
    float: right;
}

.logout a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}



